<div class="row">

<div class="col-md-2">
    <!--Sidebar content-->

    <h1>Sidebar</h1>
    Some content ...

</div>

<div class="col-md-10">
    <!--Body content-->

    <h1>{{set.name}}</h1>

    <table class="cards">
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Rarity</th>
        </tr>
        <tr ng-repeat="card in set.cards | filter:query | orderBy:orderProp">
            <td><a href="#/sets/{{set.code}}/{{card.name}}">{{card.name}}</a></td>
            <td>{{card.colors}}</td>
            <td>{{card.rarity}}</td>
        </tr>
    </table>
</div>
</div>