<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Name</option>
                <option value="date">Date</option>
            </select>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <table class="sets">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Released</th>
                </tr>
                <tr ng-repeat="set in sets | filter:query | orderBy:orderProp">
                    <td><a href="#/sets/{{set.code}}">{{set.name}}</a></td>
                    <td>{{set.code}}</td>
                    <td>{{set.releaseDate}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>